## machine learning 돌리기 전 라벨인코더를 통한 분류

In [27]:
import pandas as pd
import numpy as np

In [28]:
sample=pd.read_csv('오늘이발표날.csv', index_col = 0)

In [29]:
#라벨인코더를 통한 분류 및 숫자로 변경
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['차종'])
le.classes_
sample['차종'] = le.transform(sample['차종'])

In [30]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['전손이력'])
le.classes_
sample['전손이력'] = le.transform(sample['전손이력'])

In [31]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['침수이력'])
le.classes_
sample['침수이력'] = le.transform(sample['침수이력'])

In [32]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['용도이력'])
le.classes_
sample['용도이력'] = le.transform(sample['용도이력'])

In [33]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['연평균주행거리'])
le.classes_
sample['연평균주행거리'] = le.transform(sample['연평균주행거리'])

In [34]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['세금미납'])
le.classes_
sample['세금미납']=le.transform(sample['세금미납'])

In [35]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['색상'])
le.classes_
sample['색상'] = le.transform(sample['색상'])

In [36]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['연료'])
le.classes_
sample['연료'] = le.transform(sample['연료'])

In [37]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['보험사고정보'])
le.classes_
sample['보험사고정보'] = le.transform(sample['보험사고정보'])

In [38]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['압류'])
le.classes_
sample['압류'] = le.transform(sample['압류'])

In [39]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['저당'])
le.classes_
sample['저당'] = le.transform(sample['저당'])

In [40]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['브랜드'])
le.classes_
sample['브랜드'] = le.transform(sample['브랜드'])

In [41]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['차종'])
le.classes_
sample['차종'] = le.transform(sample['차종'])

In [42]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['모델'])
le.classes_
sample['모델'] = le.transform(sample['모델'])

In [43]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['변속기'])
le.classes_
sample['변속기'] = le.transform(sample['변속기'])

In [44]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sample['색상'])
le.classes_
sample['색상'] = le.transform(sample['색상'])

### 가격 y값 표준화

In [7]:
from scipy import stats
sample['가격표준화'] = stats.zscore(sample['가격'])
data = sample[sample['가격표준화']. between( -2,2)]

In [45]:
le.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89])

In [46]:
sample

,브랜드,모델,가격,연식,주행거리,연료,변속기,연비,차종,색상,...,스마트키,통풍시트,하이패스룸밀러,블루투스,타이어공기압장치,레인선서와이퍼,핸들열선,차선이탈경보,사이드n커튼에어백,가격표준화
0,0,2,11200000,11,125493,8,3,13.2,6,7,...,1,0,1,0,0,0,0,0,0,0.070309
1,0,2,10000000,17,100596,1,3,9.6,6,7,...,1,0,0,0,1,0,0,1,1,-0.139225
2,0,2,7700000,13,93632,1,3,13.2,6,7,...,0,0,1,0,0,0,0,0,0,-0.540831
3,0,2,7800000,15,135000,1,3,13.2,6,88,...,0,0,0,0,0,0,0,0,1,-0.523370
4,0,2,8500000,15,60000,1,3,13.2,6,88,...,0,0,0,0,0,0,0,0,0,-0.401142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60978,3,13,6500000,11,77992,2,3,12.5,5,67,...,0,0,0,0,0,0,0,0,0,0.056794
60979,3,13,9900000,16,39738,2,3,12.6,5,8,...,1,0,1,0,0,0,0,0,0,1.383067
60980,3,13,7900000,12,72816,5,3,12.5,5,88,...,1,0,0,0,0,0,0,0,0,0.602906
60981,3,13,9500000,14,51000,2,3,12.6,5,88,...,0,0,0,0,0,0,0,0,0,1.227035
60982,3,13,8700000,13,69876,2,3,12.5,5,88,...,0,0,0,0,0,0,1,0,0,0.914971

In [47]:
sample.to_csv('발표오.csv')

In [48]:
sample2 = sample.copy()

In [49]:
sample2.drop(['썬루프','크루즈컨트롤','블루투스','타이어공기압장치','레인선서와이퍼','핸들열선','차선이탈경보'], axis=1, inplace=True)

In [50]:
sample2.to_csv('발표오_옵션제거.csv')

In [51]:
sample2

,브랜드,모델,가격,연식,주행거리,연료,변속기,연비,차종,색상,...,주차감지센서,가죽시트,열선시트,전동접이사이드미러,알루미늄휠,스마트키,통풍시트,하이패스룸밀러,사이드n커튼에어백,가격표준화
0,0,2,11200000,11,125493,8,3,13.2,6,7,...,0,1,1,1,1,1,0,1,0,0.070309
1,0,2,10000000,17,100596,1,3,9.6,6,7,...,1,1,1,1,0,1,0,0,1,-0.139225
2,0,2,7700000,13,93632,1,3,13.2,6,7,...,0,1,1,1,1,0,0,1,0,-0.540831
3,0,2,7800000,15,135000,1,3,13.2,6,88,...,1,1,0,1,1,0,0,0,1,-0.523370
4,0,2,8500000,15,60000,1,3,13.2,6,88,...,1,0,0,0,1,0,0,0,0,-0.401142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60978,3,13,6500000,11,77992,2,3,12.5,5,67,...,1,1,1,1,1,0,0,0,0,0.056794
60979,3,13,9900000,16,39738,2,3,12.6,5,8,...,0,1,1,1,0,1,0,1,0,1.383067
60980,3,13,7900000,12,72816,5,3,12.5,5,88,...,0,1,0,0,0,1,0,0,0,0.602906
60981,3,13,9500000,14,51000,2,3,12.6,5,88,...,0,0,0,0,0,0,0,0,0,1.227035
60982,3,13,8700000,13,69876,2,3,12.5,5,88,...,1,1,1,1,1,0,0,0,0,0.914971

In [52]:
sample

,브랜드,모델,가격,연식,주행거리,연료,변속기,연비,차종,색상,...,스마트키,통풍시트,하이패스룸밀러,블루투스,타이어공기압장치,레인선서와이퍼,핸들열선,차선이탈경보,사이드n커튼에어백,가격표준화
0,0,2,11200000,11,125493,8,3,13.2,6,7,...,1,0,1,0,0,0,0,0,0,0.070309
1,0,2,10000000,17,100596,1,3,9.6,6,7,...,1,0,0,0,1,0,0,1,1,-0.139225
2,0,2,7700000,13,93632,1,3,13.2,6,7,...,0,0,1,0,0,0,0,0,0,-0.540831
3,0,2,7800000,15,135000,1,3,13.2,6,88,...,0,0,0,0,0,0,0,0,1,-0.523370
4,0,2,8500000,15,60000,1,3,13.2,6,88,...,0,0,0,0,0,0,0,0,0,-0.401142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60978,3,13,6500000,11,77992,2,3,12.5,5,67,...,0,0,0,0,0,0,0,0,0,0.056794
60979,3,13,9900000,16,39738,2,3,12.6,5,8,...,1,0,1,0,0,0,0,0,0,1.383067
60980,3,13,7900000,12,72816,5,3,12.5,5,88,...,1,0,0,0,0,0,0,0,0,0.602906
60981,3,13,9500000,14,51000,2,3,12.6,5,88,...,0,0,0,0,0,0,0,0,0,1.227035
60982,3,13,8700000,13,69876,2,3,12.5,5,88,...,0,0,0,0,0,0,1,0,0,0.914971

In [106]:
df[df['배기량']==0]

,브랜드,모델,가격,연식,주행거리,연료,변속기,연비,차종,배기량,...,스마트키,통풍시트,하이패스룸밀러,블루투스,타이어공기압장치,레인선서와이퍼,핸들열선,차선이탈경보,사이드n커튼에어백,가격표준화
3,0,2,7800000,15,135000,1,3,13.2,6,0,...,0,0,0,0,0,0,0,0,1,-0.523370
6,0,2,9900000,15,155663,2,3,12.1,6,0,...,1,0,1,0,0,0,0,0,0,-0.156686
29,0,2,7900000,13,149000,2,3,11.9,6,0,...,1,0,0,0,0,0,0,0,0,-0.505909
31,0,2,6300000,10,126429,2,3,13.2,6,0,...,0,1,1,0,1,0,0,0,1,-0.785287
32,0,2,11300000,15,127109,1,3,13.2,6,0,...,1,0,1,0,0,0,0,0,0,0.087770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56512,3,14,4700000,7,205946,5,2,10.4,7,0,...,0,0,0,0,0,0,0,0,0,-0.937989
56513,3,14,12900000,14,29773,5,2,10.4,7,0,...,0,0,0,0,0,0,0,0,0,0.636987
56514,3,14,8100000,11,60551,5,2,10.4,7,0,...,0,0,0,0,0,0,0,0,0,-0.284950
56517,3,14,11500000,17,49000,5,2,10.4,7,0,...,0,0,0,0,0,0,0,0,0,0.368089
56519,3,14,7500000,11,71208,5,2,10.4,7,0,...,0,0,0,0,0,0,0,0,0,-0.400192